body {
  margin: 0;
  background: #020202;
  cursor: crosshair;
}
canvas{display:block}
h1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Caveat";
  font-size: 5em;
  font-weight: 700;
  -webkit-user-select: none;
  user-select: none;
}
h2 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Caveat";
  font-size: 5em;
  font-weight: 700;
  -webkit-user-select: none;
  user-select: none;
}