body {
  margin: 0;
  background: #020202;
  cursor: crosshair;
}
canvas{display:block}

@media screen and (min-width: 480px) {
  h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: "Caveat";
    font-size: 4em;
    font-weight: 700;
    -webkit-user-select: none;
    user-select: none;
  }
  h2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: "Caveat";
    font-size: 3em;
    font-weight: 700;
    -webkit-user-select: none;
    user-select: none;
  }
  
  p{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: "Caveat";
    font-size: 2rem;
    font-weight: 700;
    -webkit-user-select: none;
    user-select: none;
  }

}

h1 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Caveat";
  font-size: 4em;
  font-weight: 700;
  -webkit-user-select: none;
  user-select: none;
}
h2 {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Caveat";
  font-size: 3em;
  font-weight: 700;
  -webkit-user-select: none;
  user-select: none;
}

p{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Caveat";
  font-size: 2rem;
  font-weight: 700;
  -webkit-user-select: none;
  user-select: none;
}

